---
layout: default
---

<style>
  div.content-wrapper {
    background-color: #0062AC;
    padding: 70px 10px 20px 10px;
  }
  div.content {
    margin: 0 auto;
    max-width: 900px;
  }
  div.content h1 {
    text-align: center;
  }
  div.content h2 {
  }
  div.content img{
    max-height:300px;
    max-width:300px;
    height:auto;
    width:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  div.tickets-wrap {
    padding: 10px 0px;
  }
  a.tickets {
    background:rgba(184,15,10,1);
    color:white;
    padding:10px 20px;
    text-decoration:none;
    font-weight:bold;
  }
</style>

<div class="content-wrapper">
  <div class="content">
    
    <img src="{{site.url}}/images/banner/DCJS.png" alt="Frontrunners Conference">
  
    <h1>Frontrunners Developers Conference</h1>
    <h2>March 27, 2026</h2>

    <p>
      <strong>
        Frontrunners will be back on March 27, 2026!
      </strong>
    </p>

    <p>
      Tickets sales will be posted very soon!
    </p>

    <!--
    Important Dates
    May 13: Announcement of next conference date (10 months early)
    CFP Opens (8 months early)
    $125 Pre-Speaker Announcements Tickets (8 months early)
    CFP closes (5 months early)
    Speaker Announcements Begin (5 months early)
    $150 Early Tickets (5 months early)
    $175 Regular Tickets (3 months early)
    $200 Late Tickets (1 month early)
    -->

    <p>
      Our Calls for Presentations are open, one for JS/Web talks and another for AI/Data talks!
    </p>

    <p>
      <a href="https://www.papercall.io/frontrunners2026" target="_blank">Frontrunners JS/Web</a>  
    <br>
      <a href="https://www.papercall.io/frontrunnersai2026" target="_blank">Frontrunners AI/Data</a>            
    </p>

    <!--
    <p><strong>
      Our CFP is closed, and we are confirming speakers now.
    </strong></p>
    -->
    <p>
      Frontrunners is a software developers conference held annually in the Washington, DC area. 
      This year Frontrunners will be two conferences in one, featuring JS/Web and AI/Data content.
    </p>

    <p>
      Our Venue Location: <a href="https://goo.gl/Mc1Xk6" target="_blank">GMU Arlington's Van Metre Hall Auditorium</a>
    </p>

  </div>
</div>

<!--
{% include tickets_panel.html %}
-->
{% include photos_panel.html %}
{% include details_panel.html %}
{% include sponsors_panel.html %}
