---
layout: default
---

<style>
  div.content-wrapper {
    background-color: #0062AC;
    padding: 70px 10px 20px 10px;
  }
  div.content {
    margin: 0 auto;
    max-width: 800px;
  }
  div.content img{
    max-height:300px;
    max-width:300px;
    height:auto;
    width:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
</style>

<div class="content-wrapper">
  <div class="content">

    <img src="{{site.url}}/images/frontrunners-logo.png" alt="Frontrunners Conference">
  
    <h2>March 21, 2025</h2>

    <p>
      Announcement! We are on for March 21, 2025! Our CFP is already open, and tickets sales will be posted very soon!
    </p>

    <p>
      Frontrunners is a JavaScript and web developers conference held  annually in the Washington, DC area. 
      We feature a full day of interesting presentations from excellent speakers on a variety of topics of interest to web developers.
    </p>

    <p>
      Come discover how the best minds use the latest technologies to build solutions for the web. 
      Network with other DC area web developers, and discuss the newest emerging trends and techniques.
    </p>

    <!--
    <h2>Submit a Talk Now for 2025</h2>
    <p>
      Our 
      <a href="https://www.papercall.io/frontrunners2025" target="_blank">CFP is open</a>!
      We expect over 250 developers to attend Frontrunners.
      This is a great opportunity to reach a large and influential audience of DC web developers, and have a great time, too!
    </p>
    -->

    <h2>Tickets!</h2>
    <p>
      Tickets to Frontrunners 2025 will be available very soon.
    </p>

    <!--
    <div style="font-family:Helvetica, arial; text-align: center; padding: 10px;">
      <a href="https://frontrunners.ticketleap.com/frontrunners2024/dates/Mar-08-2024_at_0830AM" style="background-color:#c82d19;font-size:15px;border-radius: 3px;-moz-border-radius:3px;-webkit-border-radius:3px;box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);display: inline-block;margin:0;text-align:center;text-decoration:none;font-weight:bold;color:#FFFFFF;letter-spacing: .07em;padding:18px 27px;font-family: arial,sans-serif !important;" target="_blank">FRONTRUNNERS TICKETS</a>
    </div>
    -->

    <!--
    <h3>Diversity Scholarships</h3>
    <p>
      To help us expand our diversity scholarship program, 
      this year we have added Community Tickets. 
      Priced slightly higher than our normal tickets, these provide partial funding for our diversity scholarship program.
      For each one sold, Frontrunners will also award a free ticket to one of our diversity scholarship applicants. 
      Diversity scholarships are available to members of communities typically underrepresented in tech. 
    </p>
    <p>
      Please consider purchasing a community ticket, instead of a normal ticket, especially if your company is buying your ticket for you, 
      and help us expand the tech community.
    </p>
    <p>
      To apply for a diversity scholarship simply fill out an  
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSdFr2GB_VB3p06Sub8MKVCb2r-FC3KgUHduPAnIt2L2uIM_Kw/viewform" target="_blank">applicaton</a>
      today!
      We will close this application on Feb 12th.
    </p>
    -->
    
    <h2>Where?</h2>
    <p>
      Frontrunners 2025 will be held at 
      <a href="https://frontrunners.ticketleap.com/frontrunners2024/get-there/" target="_blank">GMU's Van Metre Hall in Arlington, Virginia</a>, 
      a fantastic facility for both speakers and attendees.
    </p>

    <h2>Sign up for News!</h2>
    <p>
      Be the first to hear about Frontrunners. 
      <a href="https://zc.vg/1Hd4G" target="_blank">Sign up for news</a>.
    </p>

    <h2>Frontrunners 2024 was Awesome!</h2>
    <p>
      Frontrunners 2024 was a blast, even bigger and better than 2023!
      Thank you to all of our speakers, attendees, volunteers and sponsors for making it fantastic! 
      To see for yourself, check out our 
      <a href="https://www.youtube.com/watch?v=E9CCb3bxA8E&list=PLeGxIOPLk9EKm9m_tCONpLqfRRRBlWXKG" target="_blank">2024 Videos</a>.
    </p>

  </div>
</div>

{% include photos_panel.html %}
{% include headshots_panel2.html %}
{% include sponsors_panel.html %}
