---
layout: default
---

<style>
  div.content-wrapper {
    background-color: #0062AC;
    padding: 20px 10px;
  }
  div.content {
    margin: 0 auto;
    max-width: 800px;
  }
  div.content img{
    max-height:300px;
    max-width:300px;
    height:auto;
    width:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
</style>

<div class="content-wrapper">
  <div class="content">

    <img src="{{site.url}}/images/frontrunners-logo.png" alt="Frontrunners Conference">
  
    <h2>March 8, 2024</h2>

    <p>
      Frontrunners is a JavaScript and web developers conference held  annually in the Washington, DC area. 
      We feature a full day of interesting presentations from excellent speakers on a variety of topics of interest to web developers.
    </p>

    <p>
      Come discover how the best minds use the latest technologies to build solutions for the web. 
      Network with other DC area web developers, and discuss the newest emerging trends and techniques.
    </p>

    <!--
    <h2>We Want to Hear Your Talk!</h2>
    <p>
      Our 
      <a href="https://www.papercall.io/frontrunners2024" target="_blank">CFP is open</a>!
      We expect over 200 developers to attend Frontrunners.
      This is a great opportunity to reach a large and influential audience of DC web developers, and have a great time, too!
    </p>
    -->

    <h2>Tickets!</h2>
    <p>
      Tickets to Frontrunners 2024 are available now.
    </p>

    <div style="font-family:Helvetica, arial; text-align: center; padding: 10px;">
      <a href="https://frontrunners.ticketleap.com/frontrunners2024/dates/Mar-08-2024_at_0830AM" style="background-color:#c82d19;font-size:15px;border-radius: 3px;-moz-border-radius:3px;-webkit-border-radius:3px;box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);display: inline-block;margin:0;text-align:center;text-decoration:none;font-weight:bold;color:#FFFFFF;letter-spacing: .07em;padding:18px 27px;font-family: arial,sans-serif !important;" target="_blank">FRONTRUNNERS TICKETS</a>
    </div>

    <h3>Diversity Scholarship</h3>
    <p>
      This year, we added Community Tickets to provide partial funding for our diversity scholarship program. 
      These tickets are priced slightly higher than our normal tickets.
      But for each one sold, Frontrunners will also award a free ticket to one of our diversity scholarship applicants. 
      Diversity scholarships are available to members of communities typically underrepresented in tech. 
      Please consider purchasing a community ticket, instead of a normal ticket, and help us expand the tech community.
    </p>

    <p>
      To apply for a diversity scholarship simply fill out an  
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSdFr2GB_VB3p06Sub8MKVCb2r-FC3KgUHduPAnIt2L2uIM_Kw/viewform" target="_blank">applicaton</a>
      today!
    </p>
    
    <h2>Where?</h2>
    <p>
      Frontrunners 2024 will be held at 
      <a href="https://frontrunners.ticketleap.com/frontrunners2024/get-there/" target="_blank">GMU's Van Metre Hall in Arlington, Virginia</a>, 
      a fantastic facility for both speakers and attendees.
    </p>

  </div>
</div>

{% include headshots.html %}
{% include sponsors_panel.html %}
