---
layout: default
---

<style>
  div.content-wrapper {
    background-color: #0062AC;
    padding: 70px 10px 20px 10px;
  }
  div.content {
    margin: 0 auto;
    max-width: 900px;
  }
  div.content h1 {
  }
  div.content h2 {
  }
  div.content img {
    max-height:300px;
    max-width:300px;
    height:auto;
    width:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  div.tickets-wrap {
    padding: 10px 0px;
  }
  a.tickets {
    background:rgba(184,15,10,1);
    color:white;
    padding:10px 20px;
    text-decoration:none;
    font-weight:bold;
  }
</style>

<div class="content-wrapper">
  <div class="content">

    <img src="{{site.url}}/images/banner/DCJS.png" alt="Frontrunners Conference">
  
    <h1>Frontrunners JS/Web Conference</h1>
    <h2>March 21, 2025</h2>

    <!--
    <p><strong>
      Announcement! We are on for March 21, 2025! Our CFP is already open, and tickets sales will be posted very soon!
    </strong></p>
    <p><strong>
      Our CFP is closed, and we are confirming speakers now.
    </strong></p>
    -->
    <p>
      Frontrunners is a JavaScript and web developers conference held  annually in the Washington, DC area. 
      We feature a full day of interesting presentations from excellent speakers on a variety of web development topics.
    </p>

    <p>
      Come discover how the best minds use the latest technologies to build solutions for the web. 
      Network with other DC area web developers, and discuss the newest emerging trends and techniques.
    </p>

  </div>
</div>

{% include tickets_panel.html %}
{% include photos_panel.html %}
{% include details_panel.html %}
{% include headshots_panel.html %}
{% include schedule_panel2.html %}
{% include sponsors_panel.html %}
