<style>
  div.footer {
    padding: 20px 10px;
  }
  footer {
    margin: 0 auto;
    max-width: 800px;
  }
</style>

<div class="footer">
  <footer>
    <p>
      For sponsorship information, please email us at info at frontrunners dot tech.
    </p>
    <p>
      Everyone attending Frontrunners is required to follow <a href="{{site.url}}/conduct">our Code of Conduct</a>.
    </p>
    <p>
      You can relive Frontrunners 2023 by 
      <a href="https://www.youtube.com/playlist?list=PLeGxIOPLk9ELZl2gt05fBQwTkNnQcwwzS" target="_blank">watching our videos!</a>
      Thank you to all of our speakers, attendees, volunteers and sponsors who were at Frontrunners 2023! 
      It was great getting Frontrunners up and running again. 
    </p>
    
  </footer>
</div>
