<style>
  div.footer {
    padding: 20px 10px;
  }
  footer {
    margin: 0 auto;
    max-width: 800px;
  }
</style>

<div class="footer">
  <footer>
    <p>
      For sponsorship information, please email us at info at frontrunners dot tech.
    </p>
    <p>
      Everyone attending Frontrunners is required to follow <a href="{{site.url}}/conduct">our Code of Conduct</a>.
    </p>
    <p>
      You can relive past Frontrunners conferences by watching our 
      <a href="https://www.youtube.com/playlist?list=PLeGxIOPLk9EKzo_ta27a5eujQW8BADZyO" target="_blank">2025</a>,
      <a href="https://www.youtube.com/watch?v=E9CCb3bxA8E&list=PLeGxIOPLk9EKm9m_tCONpLqfRRRBlWXKG" target="_blank">2024</a>,
      <a href="https://www.youtube.com/playlist?list=PLeGxIOPLk9ELZl2gt05fBQwTkNnQcwwzS" target="_blank">2023</a>, 
      <a href="https://www.youtube.com/watch?v=4GCLcslHnkQ&list=PLeGxIOPLk9EKBu_B0WpBLYkkHQIGki2EZ" target="_blank">2019 (React)</a>, 
      <a href="https://www.youtube.com/watch?v=T2NcrEvFsL0&list=PLeGxIOPLk9EIcn3_m4Qb8NHctlOp8obUe" target="_blank">2019</a>, and  
      <a href="https://www.youtube.com/watch?v=gR3vQmd34S8&list=PLeGxIOPLk9ELnUvzPIwEpfb6jHL875FHT" target="_blank">2018</a> videos!
      Thank you to all of our speakers, attendees, volunteers and sponsors who were there!
    </p>
    <p>
      Frontrunners is a production of Nation Conferences, LLC.
    </p>
    <p>
      <a href="https://twitter.com/frontrunnersdc" target="_blank">
        <img alt="twitter" src="{{site.url}}/images/social/twitter.png" width="32" height="32"></a>
      <a href="https://www.youtube.com/playlist?list=PLeGxIOPLk9EKzo_ta27a5eujQW8BADZyO" target="_blank">
        <img alt="youtube" src="{{site.url}}/images/social/youtube.png" width="32" height="32"></a>
    </p>
    <!--
    https://www.linkedin.com/company/dc-frontrunners-2024/
    https://x.com/frontrunnersdc
    Need bluesky and email
    info@frontrunners.tech
    -->
    
  </footer>
</div>
