<style>
  header {
  }
  header div.header {
    padding: 10px;
    background-color: #888888;
  }
  div.header-banner {
    text-align: center;
    font-size: 12px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  header div.logo {
    float: left;
  }
  header div.logo img {
    height: 30px;
    padding: 0px 10px 0px 0px;
    margin: 0px 0px -10px 0px;
  }
</style>

<header>
  <div class="header header-banner">
    <!--
    <div class="logo">
      <img src="{{site.url}}/images/logo.jpg" alt="Demo">
    </div>
    -->
    {% include menu.html %}
  </div>
</header>
