<style>
  div.headshots-wrapper {
    background-color: #D9DDDC;
    color: #28282B;
  }
  div.headshots {
    margin: 0 auto;
    max-width: 1335px;
    padding: 30px 0px;
  }
  div.headshots h3 {
    text-align: center;
    padding: 10px 0px;
  }
  div.headshots p {
    text-align: center;
  }
  div.headshot-row {
    height: 100%;
    width: 90%;
    font-size: 0;
    margin: 0 auto;
    text-align: center;
  }
  div.headshot-cell {
    background-color: #F0F8FF;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    box-shadow: 3px 3px 3px grey;
    height: 365px;
  }
  div.headshot-cell img {
    padding: 3px 0px 0px 0px;
    border-radius: 8%;
  }
  div.headshot-cell p {
    font-family: 'Viga', sans-serif;
    text-align: center;
  }
  div.headshot-cell a {
    color: steelblue;
    text-decoration: none;
    font-family: 'Viga', sans-serif;
    text-align: center;
  }
  div.headshot-cell a:hover {
    color: whitesmoke;
    background-color: grey;
  }
  div.headshot-cell-title {
    color: black;
    font-size: 18px;
    max-width: 200px;
    margin: auto;
  }
</style>

<div id="speakers" class="headshots-wrapper">
  <div class="headshots">
    <h3>2026 Speakers</h3>
    <div class="headshot-row">
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2025/kilian_valkhof.jpg" alt="" width="200"/>
        <p>Kilian Valkhof</p>
        <div class="headshot-cell-title">Stop using JavaScript for that: moving features from JS to CSS and HTML</div>        
        <!--
        <p><a href="{{site.url}}/speakers.html#jen_ozmen">Jen Ozmen</a></p>
        -->
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2025/courtney_yatteau.jpg" alt="" width="200"/>
        <p>Courtney Yatteau</p>
        <div class="headshot-cell-title">A Developer's Guide to Open Source Web Mapping Libraries</div>
        <!--
        <p><a href="{{site.url}}/speakers.html#jen_ozmen">Jen Ozmen</a></p>
        -->
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2025/alex_riviere.jpg" alt="" width="200"/>
        <p>Alex Riviere</p>
        <div class="headshot-cell-title">Fresh Hot CSS Features!</div>
        <!--
        <p><a href="{{site.url}}/speakers.html#jen_ozmen">Jen Ozmen</a></p>
        -->
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2025/steve_drucker.jfif" alt="" width="200"/>
        <p>Steve Drucker</p>
        <div class="headshot-cell-title">Flying High with JavaScript and AI</div>
        <!--
        <p><a href="{{site.url}}/speakers.html#jen_ozmen">Jen Ozmen</a></p>
        -->
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2025/tony_bradley.jpg" alt="" width="200"/>
        <p>Tony Bradley</p>
        <div class="headshot-cell-title">ECS and Engine-less GameDev in TypeScript</div>
        <!--
        <p><a href="{{site.url}}/speakers.html#tony_bradley">Tony Bradley</a></p>
        -->
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2025/shri_khalpada.jpg" alt="" width="200"/>
        <p><a href="https://shrikhalpada.dev/" target="_blank">Shri Khalpada</a></p>
        <div class="headshot-cell-title">Code As A Canvas: Exploring Creative Coding With JavaScript</div>
        <!--
        <p>Shri Khalpada</p>
        -->
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2025/nathan_long.jpg" alt="Nathan Long" width="200"/>
        <p><a href="https://nathan-long.com/" target="_blank">Nathan Long</a></p>
        <div class="headshot-cell-title">Building Motion for the Web: Practical Strategies for Designers and Developers</div>
        <!--
        <p>Nathan Long</p>
        -->
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2025/kito_mann.jpg" alt="Kito Mann" width="200"/>
        <p>Kito Mann</p>
        <div class="headshot-cell-title">Future-proof your Web Apps with Web Components and Lit</div>
        <!--
        <p><a href="https://virtua.tech/home" target="_blank">Kito Mann</a></p>
        -->
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2025/zach_krall.jpg" alt="Zack Krall" width="200"/>
        <p><a href="https://zachkrall.com/" target="_blank">Zach Krall</a></p>
        <div class="headshot-cell-title">Bringing Voice First Experiences to the Web</div>
        <!--
        <p>Zack Krall</p>
        -->
      </div>
    </div>
<!--
    <h3>Emcees</h3>
    <div class="headshot-row">
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2024/casey_watts.jpg" alt="" width="200"/>
        <p>Casey Watts!</p>
        <div class="headshot-cell-title">Emcee</div>        
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2024/kadi_mckean.jpg" alt="" width="200"/>
        <p>Kadi McKean</p>
        <div class="headshot-cell-title">Emcee</div>        
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2024/steve_chen.jpg" alt="" width="200"/>
        <p>Steve Chen</p>
        <div class="headshot-cell-title">Emcee</div>        
      </div>
    </div>
-->
<!--
    <p>NOTE: Our speaker list is subject to change. We are still confirming and announcing speakers.</p>
-->
  </div>
</div>
