<style>
  div.photos-wrapper {
    background-color: #D0ECE7;
  } 
  div.img-row::after {
    content: "";
    clear: both;
    display: table;
  }
  @media only screen and (min-width: 1101px) {
    div.img-column {
      float: left;
      width: 33.33%;
    }
  }
  @media only screen and (min-width: 701px) and (max-width: 1100px) {
    div.img-column {
      float: left;
      width: 50%;
    }
    div.right-extra {
      display: none;
    }
  }
  @media only screen and (max-width: 700px) {
    div.img-column {
      float: left;
      width: 100%;
    }
    div.left-extra {
      display: none;
    }
    div.right-extra {
      display: none;
    }
  }
</style>

<div class="photos-wrapper">
  <div class="img-row">
    <div class="img-column left-extra">
      <img src="{{site.url}}/images/eventphotos/frphoto01Medium.png" alt="Frontrunners Conference Photo 01" style="width: 100%">
    </div>
    <div class="img-column">
      <img src="{{site.url}}/images/eventphotos/frphoto02Medium.png" alt="Frontrunners Conference Photo 02" style="width: 100%">
    </div>
    <div class="img-column right-extra">
      <img src="{{site.url}}/images/eventphotos/frphoto03Medium.png" alt="Frontrunners Conference Photo 03" style="width: 100%">
    </div>
  </div>
</div>

<!--
<style>

  div.photos-wrapper {
    background-color: #D0ECE7;
  }
  
  div.img-column {
    float: left;
    width: 33.33%;
  }

  div.img-row::after {
    content: "";
    clear: both;
    display: table;
  }

  /*@media only screen and (max-width: 499px) {
    div.img-invis {
      display: none;
    }
  }*/
    
  
</style>
  <div class="photos-wrapper"
    <div class="img-row">
      <div class="img-column">
        <img src="{{site.url}}/images/eventphotos/frphoto01Medium.png" alt="Frontrunners Conference Photo 01" style="width: 100%">
      </div>
      <div class="img-column">
        <img src="{{site.url}}/images/eventphotos/frphoto02Medium.png" alt="Frontrunners Conference Photo 02" style="width: 100%">
      </div>
      <div class="img-column">
        <img src="{{site.url}}/images/eventphotos/frphoto03Medium.png" alt="Frontrunners Conference Photo 03" style="width: 100%">
      </div>
    </div>
  </div>

-->
