<style>

  div.photos-wrapper {
    background-color: #D0ECE7;
  }
  
  div.img-column {
    float: left;
    width: 33.33%;
  }

  div.img-row::after {
    content: "";
    clear: both;
    display: table;
  }
  
</style>
  <div class="photos-wrapper"
    <div class="img-row">
      <div class="img-column">
        <img src="{{site.url}}/images/frphoto01.png" alt="Frontrunners Conference Photo 01" style="width: 100%">
      </div>
      <div class="img-column">
        <img src="{{site.url}}/images/frphoto03.png" alt="Frontrunners Conference Photo 03" style="width: 100%">
      </div>
      <div class="img-column">
        <img src="{{site.url}}/images/frphoto02.png" alt="Frontrunners Conference Photo 02" style="width: 100%">
      </div>
    </div>
  </div>

