<style>

  div.photos-wrapper {
    background-color: #D0ECE7;
  }
  
  div.img-column {
    float: left;
    width: 33.33%;
  }

  div.img-row::after {
    content: "";
    clear: both;
    display: table;
  }

  /*@media only screen and (max-width: 499px) {
    div.img-invis {
      display: none;
    }
  }*/
    
  
</style>
  <div class="photos-wrapper"
    <div class="img-row">
      <div class="img-column">
        <img src="{{site.url}}/images/eventphotos/frphoto01Medium.png" alt="Frontrunners Conference Photo 01" style="width: 100%">
      </div>
      <div class="img-column">
        <img src="{{site.url}}/images/eventphotos/frphoto02Medium.png" alt="Frontrunners Conference Photo 02" style="width: 100%">
      </div>
      <div class="img-column">
        <img src="{{site.url}}/images/eventphotos/frphoto03Medium.png" alt="Frontrunners Conference Photo 03" style="width: 100%">
      </div>
    </div>
  </div>

