<style>
  div.schedule-panel-wrapper {
    padding-bottom: 20px;
    border: solid lightgray;
    border-width: 1px 0px 0px 0px;
    text-align: center;
  }
  div.schedule-panel {
    margin: 0 auto;
    max-width: 900px;
    padding: 10px 10px 15px 10px;
  }
  div.schedule-panel h2 {
  }
  div.schedule-panel-time-slot {
    margin: 0 auto;
    max-width: 1100px;
    padding: 9px 0px;
  }
  div.schedule-panel-room {
    padding: 2px 0px;
  }
  div.schedule-panel-duration {
    padding: 2px 0px;
  }
  div.schedule-panel-talk {
    padding: 3px 0px;
  }
  div.schedule-panel-talk em {
    color: #37e1e1;
  }
  div.schedule-panel-talk-description {
    padding: 3px 0px;
  }
  div.schedule-panel-speaker-bio {
    padding: 3px 0px;
  }
</style>

<div id="schedule" class="schedule-panel-wrapper">
  <div class="schedule-panel">
    <h2>2025 Schedule</h2>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>8:30 AM</strong></div>
      <div class="schedule-panel-talk"><strong>Registration</strong></div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>9:30 AM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Kilian Valkhof</strong> &mdash; <em>Stop using JavaScript for that: moving features from JS to CSS and HTML</em></div>
      <div class="schedule-panel-talk-description">
        If you’ve been building websites for a while you “know” that some things require JS and that’s just the way it is. Turns out, spec writers and browser makers both are working hard to find common JS patterns and implementing them in CSS and HTML. Things like accordions, auto-suggest, smooth scrolling, dialogs are all available without JS. Looking a little ahead, things like parallax scrolling, styleable selects and component-dependent styling are expected to make their CSS-debut as well.
        We'll walk through common patterns, and explain how they can be implemented in CSS and HTML, how that’s better and what accessibility implications they have, both for features available today and feature available soon.
      </div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>10:00 AM</strong></div>

      <div class="schedule-panel-talk"><strong>Kito Mann</strong> &mdash; <em>Future-proof your Web Apps with Web Components and Lit</em></div>
      <div class="schedule-panel-talk-description">
        Building a web app? Should you pick Angular, React, Vue, or something else? Discover the standards behind web components and learn how you can use Lit to turbocharge your web component development experience, whether you are building an app from scratch or using an existing framework.
      </div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>10:30 AM</strong></div>
      <div class="schedule-panel-talk"><strong>Break</strong></div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>11:00 AM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Tony Bradley</strong> &mdash; <em>ECS and Engine-less GameDev in TypeScript</em></div>
      <div class="schedule-panel-talk-description">
        What if you could make games without learning a game engine, using a programming language you already know? ECS or “Entity Component System” is a pattern for game development that you can implement without any library. This talk will hopefully inspire you to act on that game idea you’ve always had.
      </div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>11:30 PM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Courtney Yatteau</strong> &mdash; <em>A Developer's Guide to Open Source Web Mapping Libraries</em></div>
      <div class="schedule-panel-talk-description">
        Explore how to use JavaScript mapping libraries like Leaflet and MapLibre GL JS to create dynamic, visually appealing web maps. Learn key geospatial concepts, data visualization techniques, and best practices for integrating these tools into your web projects. Perfect for developers new to GIS.
      </div>
      <div class="schedule-panel-speaker-bio">
        Courtney Yatteau is a Developer Advocate on Esri’s Developer Experience Team. She is responsible for outreach and awareness related to Esri’s developer SDKs and APIs. Before Esri, Courtney worked in the secondary education field, teaching computer science and mathematics.
      </div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>12:00 PM</strong></div>
      <div class="schedule-panel-talk"><strong>Lunch Break</strong></div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>1:20 PM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Alex Riviere</strong> &mdash; <em>Fresh Hot CSS Features!</em></div>
      <div class="schedule-panel-talk-description">
        Do you use a CSS Framework like bootstrap? Or maybe you’ve been coasting for a few years on your current knowledge of CSS. You’ve maybe seen something called CSS Grid and wondered what it was… Maybe you have never seen var() used before.
        Let’s discuss the latest newest hottest big features in CSS from the last few years, and get you up to speed on what a browser engine is capable of!
      </div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>1:50 PM</strong></div>

      <div class="schedule-panel-talk"><strong>Break</strong></div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>2:20 PM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Zach Krall</strong> &mdash; <em>Bringing Voice First Experiences to the Web</em></div>
      <div class="schedule-panel-talk-description">
        As synthetic speech technology becomes increasingly sophisticated and accessible, web developers have unprecedented opportunities to create rich, voice-driven experiences. This session explores the intersection of voice technology, web development, and user experience design, demonstrating how to build engaging audio-first interfaces that enhance accessibility and user engagement.
      </div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>2:50 PM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Nathan Long</strong> &mdash; <em>Building Motion for the Web: Practical Strategies for Designers and Developers</em></div>
      <div class="schedule-panel-talk-description">
        There is a information gap around motion on the web — there’s a lot of material on the VALUE of motion, but very little on how to TALK about or IMPLEMENT motion in an organization. I will be talking about ways to classify, discern complexity, and collaborate on motion.
      </div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>3:20 PM</strong></div>
      <div class="schedule-panel-talk"><strong>Break</strong></div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>3:50 PM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Jen Person</strong> &mdash; <em>Not another chatbot: building AI agents that don't suck</em></div>
      <div class="schedule-panel-talk-description">
        Universal retrieval-augmented generation (RAG) AI has vastly expanded the applications of AI, encompassing every industry and sector. However, the way we all inevitably end up interacting with AI is through the irritating and error-prone chatbots that pop up on every nearly website. Let’s fix that. Chatbots are a great introduction to RAG AI. However, you can build more sophisticated agents with real-world applications that go beyond the basic chatbot model. These agents can streamline and automate tasks in your tech stack, even if you’re new to AI! In this talk, we’ll walk through the process of connecting data sources, building prompts, and adding functionality to AI agents to build specialized AI solutions, no chat popup required.
      </div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>4:20 PM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Shri Khalpada</strong> &mdash; <em>Code As A Canvas: Exploring Creative Coding With JavaScript</em></div>
      <div class="schedule-panel-talk-description">
        In a world where our interaction with technology can feel increasingly negative, it can be helpful to stop and think about how code can be a source of creativity and joy. In this talk, we’ll chat about how libraries like p5.js can help us create art, creatively visualize data, and even meditate.
      </div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>5:00 PM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Happy Hour at <a href="http://www.spiderkellys.com/" target="_blank">Spider Kelly's bar!</a></strong></div>
      <div class="schedule-panel-talk"><strong>3181 Wilson Blvd, Arlington, VA 22201</strong></div>
    </div>
  </div>
</div>
