<style>
  div.schedule-panel-wrapper {
    padding-bottom: 20px;
    border: solid lightgray;
    border-width: 1px 0px 0px 0px;
    text-align: center;
  }
  div.schedule-panel {
    margin: 0 auto;
    max-width: 900px;
    padding: 10px 10px 15px 10px;
  }
  div.schedule-panel h2 {
  }
  div.schedule-panel-time-slot {
    margin: 0 auto;
    max-width: 1100px;
    padding: 9px 0px;
  }
  div.schedule-panel-room {
    padding: 2px 0px;
  }
  div.schedule-panel-duration {
    padding: 2px 0px;
  }
  div.schedule-panel-talk {
    padding: 3px 0px;
  }
  div.schedule-panel-talk em {
    color: #37e1e1;
  }
  div.schedule-panel-talk-description {
    padding: 3px 0px;
  }
</style>

<div id="schedule" class="schedule-panel-wrapper">
  <div class="schedule-panel">
    <h2>2025 Schedule</h2>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>8:30 AM</strong></div>
      <div class="schedule-panel-talk"><strong>Registration</strong></div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>9:30 AM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Kilian Valkhof</strong> &mdash; <em>Stop using JavaScript for that: moving features from JS to CSS and HTML</em></div>
      <div class="schedule-panel-talk-description">
        Stop using JavaScript for that: moving features from JS to CSS and HTML
      </div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>10:00 AM</strong></div>

      <div class="schedule-panel-talk"><strong>Kito Mann</strong> &mdash; <em>Future-proof your Web Apps with Web Components and Lit</em></div>
      <div class="schedule-panel-talk-description">
        Future-proof your Web Apps with Web Components and Lit
      </div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>10:30 AM</strong></div>
      <div class="schedule-panel-talk"><strong>Break</strong></div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>11:00 AM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Tony Bradley</strong> &mdash; <em>ECS and Engine-less GameDev in TypeScript</em></div>
      <div class="schedule-panel-talk-description">
        ECS and Engine-less GameDev in TypeScript
      </div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>11:30 PM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Courtney Yatteau</strong> &mdash; <em>A Developer's Guide to Open Source Web Mapping Libraries</em></div>
      <div class="schedule-panel-talk-description">
        Explore how to use JavaScript mapping libraries like Leaflet and MapLibre GL JS to create dynamic, visually appealing web maps. Learn key geospatial concepts, data visualization techniques, and best practices for integrating these tools into your web projects. Perfect for developers new to GIS.
      </div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>12:00 PM</strong></div>
      <div class="schedule-panel-talk"><strong>Lunch Break</strong></div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>1:20 PM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Alex Riviere</strong> &mdash; <em>Fresh Hot CSS Features!</em></div>
      <div class="schedule-panel-talk-description">
        Fresh Hot CSS Features!
      </div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>1:50 PM</strong></div>

      <div class="schedule-panel-talk"><strong>Break</strong></div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>2:20 PM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Zach Krall</strong> &mdash; <em>Bringing Voice First Experiences to the Web</em></div>
      <div class="schedule-panel-talk-description">
        As synthetic speech technology becomes increasingly sophisticated and accessible, web developers have unprecedented opportunities to create rich, voice-driven experiences. This session explores the intersection of voice technology, web development, and user experience design, demonstrating how to build engaging audio-first interfaces that enhance accessibility and user engagement.
      </div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>2:50 PM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Nathan Long</strong> &mdash; <em>Building Motion for the Web: Practical Strategies for Designers and Developers</em></div>
      <div class="schedule-panel-talk-description">
        Building Motion for the Web: Practical Strategies for Designers and Developers
      </div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>3:20 PM</strong></div>
      <div class="schedule-panel-talk"><strong>Break</strong></div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>3:50 PM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Jen Person</strong> &mdash; <em>Not another chatbot: building AI agents that don't suck</em></div>
      <div class="schedule-panel-talk-description">
        Not another chatbot: building AI agents that don't suck.
      </div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>4:20 PM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Shri Khalpada</strong> &mdash; <em>Code As A Canvas: Exploring Creative Coding With JavaScript</em></div>
      <div class="schedule-panel-talk-description">
        Code As A Canvas: Exploring Creative Coding With JavaScript
      </div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>5:00 PM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Happy Hour at <a href="http://www.spiderkellys.com/" target="_blank">Spider Kelly's bar!</a></strong></div>
      <div class="schedule-panel-talk"><strong>3181 Wilson Blvd, Arlington, VA 22201</strong></div>
    </div>
  </div>
</div>
