<style>
  div.schedule-panel-wrapper {
    background-color: aliceblue;
    padding-bottom: 20px;
    border: solid lightgray;
    border-width: 1px 0px 0px 0px;
    text-align: center;
    color: black;
  }
  div.schedule-panel {
    margin: 0 auto;
    max-width: 900px;
    padding: 10px 10px 15px 10px;
  }
  div.schedule-panel h2 {
    color: black;
  }
  div.schedule-panel-time-slot {
    margin: 0 auto;
    max-width: 1100px;
    padding: 9px 0px;
  }
  div.schedule-panel-room {
    padding: 2px 0px;
  }
  div.schedule-panel-duration {
    padding: 2px 0px;
  }
  div.schedule-panel-talk {
    padding: 3px 0px;
  }
  div.schedule-panel-talk-description {
    padding: 3px 0px;
  }
</style>

<div id="schedule" class="schedule-panel-wrapper">
  <div class="schedule-panel">
    <h2>2024 Schedule</h2>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>8:30 AM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Registration</strong></div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>9:30 AM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Kilian Valkhof</strong> &mdash; <em>Stop using JavaScript for that: moving features from JS to CSS and HTML</em> &mdash; Room 126</div>
      <div class="schedule-panel-talk-description">
        Stop using JavaScript for that: moving features from JS to CSS and HTML
      </div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>10:10 AM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Break</strong></div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>10:30 AM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Courtney Yatteau</strong> &mdash; <em>A Developer's Guide to Open Source Web Mapping Libraries</em> &mdash; Room 126</div>
      <div class="schedule-panel-talk-description">
        A Developer's Guide to Open Source Web Mapping Libraries
      </div>

    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>11:00 AM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Break</strong></div>
    </div>

<!--
        <p>Alex Riviere</p>
        <div class="headshot-cell-title">Fresh Hot CSS Features!</div>
        <p>Jen Person</p>
        <div class="headshot-cell-title">Not another chatbot: building AI agents that don't suck</div>
        <p>Tony Bradley</p>
        <div class="headshot-cell-title">ECS and Engine-less GameDev in TypeScript</div>
        <p><a href="https://shrikhalpada.dev/" target="_blank">Shri Khalpada</a></p>
        <div class="headshot-cell-title">Code As A Canvas: Exploring Creative Coding With JavaScript</div>
        <p><a href="https://nathan-long.com/" target="_blank">Nathan Long</a></p>
        <div class="headshot-cell-title">Building Motion for the Web: Practical Strategies for Designers and Developers</div>
        <p>Kito Mann</p>
        <div class="headshot-cell-title">Future-proof your Web Apps with Web Components and Lit</div>
        <p><a href="https://zachkrall.com/" target="_blank">Zach Krall</a></p>
        <div class="headshot-cell-title">Bringing Voice First Experiences to the Web</div>
-->
    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>11:15 AM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Jen Ozmen and Aaron Shim</strong> &mdash; <em>Trusted Types: DOM XSS Protection at Scale</em> &mdash; Room 126</div>
      <div class="schedule-panel-talk-description">
        DOM XSS is the most critical threat to frontend web security and Trusted Types is the only solution that has worked at scale to prevent these attacks. We will discuss how this browser-based security mitigation protects billions of our users and makes the entire JS ecosystem safer.
      </div>

    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>12:00 PM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Lunch Break</strong></div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>1:15 PM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Jacob Yacovelli and Laura King</strong> &mdash; <em>Simpler Enterprise Angular Components with Smart Directives</em> &mdash; Room 126</div>
      <div class="schedule-panel-talk-description">
        Are your smart components overburdened by observable logic? Do you have to manually control change detection in your Angular components? Would you like to separate out observable logic by shareable functionality? Then smart directives might be the solution for you!
      </div>

    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>1:45 PM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Break</strong></div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>2:00 PM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Michael Schoonmaker</strong> &mdash; <em>We're Snaking it Live!</em> &mdash; Room 126</div>
      <div class="schedule-panel-talk-description">
        Your 5th grade math teacher was wrong: playing Snake CAN be good for you!
        Multiplayer Snake—Battlesnake—is an accessible crucible to flex our JavaScript muscles against a welcoming community of bots written in C++, Rust and even Bash.
        And we’ll have fun doing it, together, LIVE.
      </div>

    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>2:40 PM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Break</strong></div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>3:10 PM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Jim Becker</strong> &mdash; <em>EASILY level up your website using the ChatGPT API and NextJS</em> &mdash; Room 126</div>
      <div class="schedule-panel-talk-description">
        In this talk, we’ll show how to integrate your web app with the ChatGPT API. We’ll show examples of how to provide easy insights and analytics for your users with almost no effort.
        We’ll create a chatgpt account, go over pricing, and go over examples of different API prompts you can use with various pieces of data to provide users with awesome analytics and almost no code. Leveling the app up for free!
      </div>

    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>3:40 PM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Short Break</strong></div>
    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>3:50 PM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Shri Khalpada</strong> &mdash; <em>Where Numbers Meet Art: Building Data Visualizations In The Modern Web</em> &mdash; Room 126</div>
      <div class="schedule-panel-talk-description">
        As web developers, many of us have worked with charts before. How can we take them to the next level?
        Join Shri Khalpada, co-founder of PerThirtySix and a full-stack veteran working deeply in data, as he shares practical advice on how we can go from something generic to something captivating!
      </div>

    </div>

    <div class="schedule-panel-time-slot">
      <div class="schedule-panel-duration"><strong>4:30 PM</strong></div>
  
      <div class="schedule-panel-talk"><strong>Happy Hour at <a href="http://www.spiderkellys.com/" target="_blank">Spider Kelly's bar!</a></strong></div>
      <div class="schedule-panel-talk"><strong>3181 Wilson Blvd, Arlington, VA 22201</strong></div>
    </div>

  </div>
</div>

