<style>
  div.sponsors-panel-wrapper {
    background-color: aliceblue;
    border: solid lightgray;
    border-width: 1px 0px 0px 0px;
  }
  div.sponsors-panel {
    margin: 0 auto;
    max-width: 900px;
    padding: 30px 0px;
  }
  div.sponsors-panel h2 {
    color: #0062AC;
    text-align: center;
    padding: 10px 0px;
  }
  div.sponsors-panel h3 {
    color: #0062AC;
    text-align: center;
    padding: 10px 0px;
  }
  div.sponsors-panel p {
    color: #28282B;
    text-align: center;
  }
  div.sponsor-panel-row {
    height: 100%;
    width: 90%;
    font-size: 0;
    margin: 0 auto;
    text-align: center;
  }
  div.sponsor-panel-cell {
    background-color: #FFFFFF;
    padding: 0px 12px;
    margin: 8px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 3px 3px 3px grey;
  }
  div.sponsor-panel-inner-cell {
    height: 100px;
    display: table-cell;
    vertical-align: middle;  
  }
  div.sponsor-panel-cell img {
  }
  <!--
  div.sponsor-panel-cell p {
    color: #28282B;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  -->
</style>

<div id="sponsors" class="sponsors-panel-wrapper">
  <div class="sponsors-panel">
    <h2>Sponsors</h2>
    <h3>Gold</h3>
    <div class="sponsor-panel-row">
      <div class="sponsor-panel-cell">
        <div class="sponsor-panel-inner-cell">
          <a href="https://temporal.io/" target="_blank">
            <img class="sponsor-panel-image" src="{{site.url}}/images/sponsors/2024/temporal.png" alt="" width="250px"/>
          </a>
        </div>
      </div>
    </div>
    <h3>Silver</h3>
    <div class="sponsor-panel-row">
      <div class="sponsor-panel-cell">
        <div class="sponsor-panel-inner-cell">
          <a href="https://www.honeycomb.io/" target="_blank">
            <img class="sponsor-panel-image" src="{{site.url}}/images/sponsors/2024/honeycomb.svg" alt="" width="250px"/>
          </a>
        </div>
      </div>
    </div>
    <h3>Bronze</h3>
    <div class="sponsor-panel-row">
      <div class="sponsor-panel-cell">
        <div class="sponsor-panel-inner-cell">
          <a href="https://www.bti360.com/" target="_blank">
            <img class="sponsor-panel-image" src="{{site.url}}/images/sponsors/2024/bti360.png" alt="" width="250px"/>
          </a>
        </div>
      </div>
      <div class="sponsor-panel-cell">
        <div class="sponsor-panel-inner-cell">
          <a href="https://corporate.comcast.com/" target="_blank">
            <img class="sponsor-panel-image" src="{{site.url}}/images/sponsors/2024/comcast.png" alt="" width="250px"/>
          </a>
        </div>
      </div>
      <div class="sponsor-panel-cell">
        <div class="sponsor-panel-inner-cell">
          <a href="https://www.datadoghq.com/" target="_blank">
            <img class="sponsor-panel-image" src="{{site.url}}/images/sponsors/2024/datadog.png" alt="" width="250px"/>
          </a>
        </div>
      </div>
    </div>
    <p>For sponsorship information, please email us at <strong>info at frontrunners dot tech</strong>.</p>
  </div>
</div>
