<style>
  div.sponsors-panel-wrapper {
    background-image: linear-gradient(to right bottom, #d9dddc, #d0e0e1, #cae1ec, #cce1f8, #d9ddff);
    color: black;
  }
  div.sponsors-panel {
    margin: 0 auto;
    max-width: 1335px;
    padding: 15px 0px 25px;
  }
  div.sponsors-panel h2 {
    text-align: center;
    padding: 10px 0px;
    color: black;
  }
  div.sponsors-panel h3 {
    text-align: center;
    padding: 10px 0px;
  }
  div.sponsors-panel p {
    text-align: center;
    padding: 0px 8px;
  }
  div.sponsor-panel-rows {
    padding-bottom: 10px;
  }
  div.sponsor-panel-row {
    height: 100%;
    width: 90%;
    font-size: 0;
    margin: 0 auto;
    text-align: center;
  }
  div.sponsor-panel-cell {
    background-color: #FFFFFF; /* white */
    padding: 10px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 3px 3px 3px grey;
  }
  div.sponsor-panel-inner-cell {
    height: 145px;
    display: table-cell;
    vertical-align: middle;  
  }
  div.sponsor-panel-cell img {
  }
</style>

<div id="sponsors" class="sponsors-panel-wrapper">
  <div class="sponsors-panel">
    <h2>Sponsors</h2>
    <div class="sponsor-panel-rows">
      <div class="sponsor-panel-row">
        <div class="sponsor-panel-cell">
          <div class="sponsor-panel-inner-cell">
            <a href="https://www.viget.com/" target="_blank">
              <img class="sponsor-panel-image" src="{{site.url}}/images/sponsors/2025/viget.png" alt="Viget" width="250px"/>
            </a>
          </div>
        </div>
        <div class="sponsor-panel-cell">
          <div class="sponsor-panel-inner-cell">
            <a href="https://polypane.app/" target="_blank">
              <img class="sponsor-panel-image" src="{{site.url}}/images/sponsors/2025/polypane.png" alt="Polypane" width="250px"/>
            </a>
          </div>
        </div>
        <div class="sponsor-panel-cell">
          <div class="sponsor-panel-inner-cell">
            <a href="https://www.customink.com/" target="_blank">
              <img class="sponsor-panel-image" src="{{site.url}}/images/sponsors/2024/custom_ink.png" alt="CustomInk" width="250px"/>
            </a>
          </div>
        </div>
      </div>
      <div class="sponsor-panel-row">
        <div class="sponsor-panel-cell">
          <div class="sponsor-panel-inner-cell">
            <a href="https://razorx2.com/" target="_blank">
              <img class="sponsor-panel-image" src="{{site.url}}/images/sponsors/2024/razorx2.png" alt="RazorX2" width="250px"/>
            </a>
          </div>
        </div>
        <div class="sponsor-panel-cell">
          <div class="sponsor-panel-inner-cell">
            <a href="https://instructlab.ai/" target="_blank">
              <img class="sponsor-panel-image" style="margin: -95px 0px; padding: 30px 0px;" src="{{site.url}}/images/sponsors/2025/instructlab_600.png" alt="InstructLab" width="250px"/>
            </a>
          </div>
        </div>
<!--
        <div class="sponsor-panel-cell">
          <div class="sponsor-panel-inner-cell">
            <a href="https://www.bti360.com/" target="_blank">
              <img class="sponsor-panel-image" src="{{site.url}}/images/sponsors/2024/bti360.png" alt="" width="250px"/>
            </a>
          </div>
        </div>
-->
      </div>
    </div>
    <p>For sponsorship information visit our <a href="https://frontrunners.tech/sponsorship" target="_blank">sponsorship page</a>, or email us at <strong>info at frontrunners dot tech</strong>.</p>
  </div>
</div>
