<style>
  div.tickets-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: DarkGrey;
  }
  div.tickets {
    display: flex;
    max-width: 900px;
    background-color: DarkGrey;
  }
  div.tickets-details {
    padding: 35px 20px;
    background-color: DarkGrey;
  }
  div.tickets h1 {
    background-color: DarkGrey;
  }
  div.tickets h2 {
    background-color: DarkGrey;
  }
  div.tickets h3 {
    padding: 0em 0em 0.25em 0em;
    background-color: DarkGrey;
  }
  div.tickets p {
    padding: 0.25em 0em;
    background-color: DarkGrey;
  }
  div.tickets-image {
    padding: 35px 20px;
    background-color: DarkGrey;
  }
  div.tickets-image img {
    padding: 3px 0px 0px 0px;
    background-color: DarkGrey;
  }
  div#tickets-button {
    text-align: center;
    background-color: DarkGrey;
    font-family:Helvetica, arial; 
    padding-top: 1em;
  }
  div#tickets-button a {
    background-color:#7395AE;
    font-size:15px;
    border-radius: 3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
    display: inline-block;
    margin:0;
    text-align:center;
    text-decoration:none;
    font-weight:bold;color:#FFFFFF;
    letter-spacing: .07em;
    padding:18px 27px;
    font-family: arial,sans-serif !important;
  }
</style>

<div class="tickets-wrapper">
  <div id="tickets" class="tickets">
    <div class="tickets-details">
      <h3>
        Tickets!
      </h3>
      <p>
        We are very happy to announce that Frontrunners 2025 tickets are now available. Get yours today! 
      </p>
      <div id="tickets-button" class="center">
        <a href="https://frontrunners.ticketspice.com/frontrunners-2025" target="_blank">Register Now!</a>
      </div>
    </div>
  </div>
</div>
