<style>
  div.tickets-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right bottom, #d9dddc, #d0e0e1, #cae1ec, #cce1f8, #d9ddff);
    color: #28282B;
  }
  div.tickets {
    display: flex;
    max-width: 900px;
  }
  div.tickets-details {
    padding: 35px 10px;
  }
  div.tickets h1 {
    padding: 0em 0em 0.25em 0em;
    color: #28282B;
  }
  div.tickets h2 {
    padding: 0em 0em 0.25em 0em;
    color: #28282B;
  }
  div.tickets h3 {
    padding: 0em 0em 0.25em 0em;
    color: #28282B;
  }
  div.tickets p {
    padding: 0.25em 0em;
    color: #28282B;
  }
  div.tickets-image {
    padding: 35px 20px;
  }
  div.tickets-image img {
    padding: 3px 0px 0px 0px;
  }
  div#tickets-button {
    text-align: center;
    font-family:Helvetica, arial; 
    padding-top: 1em;
  }
  div#tickets-button a:hover {
    color: gray;
  }
  div#tickets-button a {
    background-color: rgba(184,15,10,1);
    font-size:15px;
    border-radius: 3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
    display: inline-block;
    margin:0;
    text-align:center;
    text-decoration:none;
    font-weight:bold;color:#FFFFFF;
    letter-spacing: .07em;
    padding:18px 27px;
    font-family: arial,sans-serif !important;
  }
</style>

<div class="tickets-wrapper">
  <div id="tickets" class="tickets">
    <div class="tickets-details">
      <h2>
        Tickets!
      </h2>
      <p>
        Frontrunners 2026 Early Bird tickets are available now.
      </p>
      <div id="tickets-button" class="center">
        <a href="https://frontrunners.ticketspice.com/frontrunners-2026" target="_blank">Get Your Ticket!</a>
<!--
        <a href="https://frontrunners.ticketspice.com/frontrunners-2025" target="_blank">Register Now!</a>
-->
      </div>
    </div>
  </div>
</div>
